body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: "Permanent Marker";
    background-color: #447BBE;
}

h1, h2 {
    text-align: center;
    background-color: #B11313;
    /* align-items: start; */
}

h1 {
    margin: 0;
    color: whitesmoke;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
}

h4 {
    text-align: center;
}

#creator {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 200px;
    justify-content: flex-end;
    width: 100%;
}

main {
    align-items:center;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto 1fr auto;
    align-content: space-around;
    border: 20px red;
}

.hidden {
    visibility: hidden;
}

.display {
    display: none;
}

.game-and-modal {
    width: 710px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    border: 5px red;
}

canvas {
    border: 5px solid #660c2b;
    margin: 20px 0px 0px 0px;
    background-color: lightgray;
}

button {
    z-index: 1;
    font-weight: bolder;
    background: #7C313D;
    border-color: #7C313D;
    color: rgb(214, 255, 214);
    margin: 0 auto;
    position: relative;
}

#start {
    height: 50px;
    width: 300px;
    font-size: 1.2em;
    border: 4.5px solid #660c2b;

}

.modal {
    width: 690px;
    padding: 5px;
    height: 340px;
    position: absolute;
    top: 25px;
    left: 5px;
    background: rgb(124, 49, 61);
}

#GO-modal {
    background-image: url('/Users/patrickbrennan/Desktop/SEI_1025/unit-1/deliveries/pizza-time-game/assets/garbage.jpeg');
    background-size: cover;
}

span {
    background-color: darkred;
}

.modal-content {
    padding: 2%;
    text-align: center;
    color: rgb(214, 255, 214);
    line-height: 1.4em;
    letter-spacing: .2em;
}

.hud-info {
    width: 900px;
    height: 369px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.commands {
    background-color: whitesmoke;
    width: 355px;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #660c2b;
}

.control-guide {
    display: flex;
    flex-direction: column;
    height: 278px;
    justify-content: space-evenly;
    align-items: center;
}

.score-card {
    background-color: whitesmoke;
    width: 355px;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #660c2b;
}
